/* General sidebar styling */
.navbar {
  position: fixed;
  top: 60px; /* Start below the header */
  left: 0;
  width: 200px;
  height: calc(100vh - 60px); /* Adjust height considering the header */
  background-color: #25323f; /* Dark background for the sidebar */
  color: #fff;
  padding: 20px 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar nav {
  flex-grow: 1;
}

/* Navigation links */
.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
}

.nav-link:hover,
.nav-link.active {
  background-color: #1e2d3d; /* Hover background */
  border-left: 5px solid #03a9f4; /* Highlight on the left */
}

.nav-icon {
  margin-right: 10px; /* Space between icon and text */
  font-size: 18px; /* Icon size */
}

/* Footer styles */
.navbar-footer {
  text-align: center;
  font-size: 14px;
  color: #bbb;
  padding: 10px 0;
  border-top: 1px solid #3b4a57;
}

.navbar-footer span {
  display: block;
}

.navbar-footer a {
  color: #03a9f4;
  text-decoration: none;
}

.navbar-footer a:hover {
  text-decoration: underline;
}
